<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.diskfrete">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".CadastroMotoristas1">
        </activity>
        <activity android:name=".DialogoCadastro">
        </activity>
        <activity android:name=".TeladeEspera">
        </activity>
        <activity android:name=".CadastrarFrete">
        </activity>
        <activity android:name=".MotoristaHome">
        </activity>
        <activity android:name=".RedefinirSenha"/>
        <activity
                android:name=".UsuarioHome"
                android:screenOrientation="portrait"/>
        <activity android:name=".CadastroMotoristas"/>
        <activity android:name=".CadastrarUsuarioActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>