<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.diskfrete">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MOTORISTA.FreteMotorista"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MOTORISTA.CadastrarMotorista2"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MOTORISTA.CadastroMotoristas1"   android:screenOrientation="portrait">
        </activity>
        <activity android:name=".DialogoCadastro"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".USUARIO.TeladeEspera"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".USUARIO.CadastrarFrete"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".MOTORISTA.MotoristaHome"  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".RedefinirSenha"  android:screenOrientation="portrait"/>
        <activity android:name=".USUARIO.UsuarioHome" android:screenOrientation="portrait"/>
        <activity android:name=".MOTORISTA.CadastroMotoristas"  android:screenOrientation="portrait"/>
        <activity android:name=".USUARIO.CadastrarUsuarioActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>