<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.diskfrete">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Controller.ADMINISTRADOR.DesabilitarUsuarioMotorista"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Controller.ADMINISTRADOR.NovoMotorista"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Controller.ADMINISTRADOR.AdministradorHome"
                  android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.USUARIO.AvaliarMotorista"
                android:noHistory="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Transparent">
        </activity>
        <activity
                android:name=".Controller.MOTORISTA.FreteDisponivel"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.USUARIO.UsuarioFreteAceito"
                android:noHistory="true"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.HistoricoDeFretes"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.MOTORISTA.FreteMotorista"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.MOTORISTA.CadastrarMotorista2"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.MOTORISTA.CadastroMotoristas1"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.DialogoCadastro"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.USUARIO.TeladeEspera"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.USUARIO.CadastrarFrete"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.MOTORISTA.MotoristaHome"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".Controller.RedefinirSenha"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Controller.USUARIO.UsuarioHome"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Controller.MOTORISTA.CadastroMotoristas"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Controller.USUARIO.CadastrarUsuario"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Controller.Login"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>